@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --angle: 220deg;
}

.element {
    --angle: 220deg;
    background: linear-gradient(var(--angle), #0e1c26 20%, #2a454b 100%);
}

#aurora {
    position: fixed;
    inset: 0;
    z-index: 0;
}

/* Dark scrollbar */
.dark-scrollbar {
    scrollbar-width: thin;              /* Firefox */
    scrollbar-color: #444 #111;         /* thumb track */
}

/* Chrome, Edge, Safari */
.dark-scrollbar::-webkit-scrollbar {
    width: 1px;
    height: 6px;
}

.dark-scrollbar::-webkit-scrollbar-track {
    background: #111;
}

.dark-scrollbar::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 9999px;
}

.dark-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}
